# Tailscale
TS_TAILNET_ID=
TS_OAUTH_CLIENT_ID=
TS_OAUTH_CLIENT_SECRET=
TS_AUTH_KEY=
TS_API_ID=
TS_API_SECRET=

# OpenTofu state backend (Cloudflare R2, S3-compatible)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Github GH
GH_TOKEN=